{% block infopeli %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static "css/estilos-pelicula.css" %}">


  <title>{{ peli.title }}</title>

</head>
<body>


<div class="container">
  <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <img src="{{ url_imagen }}" alt="{{peli.title}}" style="position: fixed">
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-8">
          <h5 class="titulo-obra">Título</h5>
          <h6 class="titulo-obra-title">{{peli.title}}</h6>
          <hr/>
          <h5 class="autor-obra">Resumen</h5>
          <h6 class="autor-obra-author">{{ peli.plot }}</h6>
          <hr/>
          <h5 class="titulo-obra">Año</h5>
          <h6 class="titulo-obra-title">{{peli.year}}</h6>
          <hr/>
          <h5 class="titulo-obra">Director</h5>
          <h6 class="titulo-obra-title">{{peli.director}}</h6>

          <hr/>
          <h5 class="titulo-obra">Premios</h5>
          <h6 class="titulo-obra-title">{{peli.awards.text}}</h6>
          <hr/>
          <h5 class="titulo-obra">Galardones</h5>
          <h6 class="titulo-obra-title">{{ galardones }}</h6>
          <hr/>
          <h5 class="titulo-obra">Nominaciones</h5>
          <h6 class="titulo-obra-title">{{ nominaciones }}</h6>

          <hr/>
          <h5 class="titulo-obra">Premios</h5>
          <h6 class="titulo-obra-title">{{peli.awards.text}}</h6>
          <hr/>

          <h5 class="titulo-obra">Galardones</h5>
          <h6 class="titulo-obra-title">{{galardones}}</h6>
          <hr/>

          <h5 class="titulo-obra">Nominaciones</h5>
          <h6 class="titulo-obra-title">{{nominaciones}}</h6>
          <hr/>

          <h5 class="titulo-obra">Director</h5>
          <h6 class="titulo-obra-title">{{peli.director}}</h6>
          <hr/>

          <h5 class="titulo-obra">Director</h5>
          <h6 class="titulo-obra-title">{{peli.director}}</h6>
          <hr/>

          <h5 class="titulo-obra">Puntuacion</h5>
          <h6 class="titulo-obra-title">{{peli.rated}}</h6>

          <hr/>
          <h5 class="autor-obra">Generos</h5>
          <h6 class="autor-obra-author">
              {% for p in peli.genres %}
              <h6>{{ p }}</h6>
              {% endfor %}
          </h6>

          <hr/>
          <h5 class="autor-obra">Guionistas</h5>
          <h6 class="autor-obra-author">
              {% for p in peli.writers %}
              <h6>{{ p }}</h6>
              {% endfor %}
          </h6>

          <hr/>
          <h5 class="autor-obra">Países</h5>
          <h6 class="autor-obra-author">
              {% for p in peli.countries %}
              <h6>{{ p }}</h6>
              {% endfor %}
          </h6>

          <hr/>
      </div>
  </div>
</div>


</body>
</html>

{% endblock %}
